---
import { menuLinks, siteConfig } from "@/site.config";

const year = new Date().getFullYear();
---

<footer
  class="w-full flex flex-col items-center justify-center gap-y-4 py-8 text-center text-accent bg-bgColor"
>
  <div class="font-semibold">
    &copy; {siteConfig.author}
    {year}.
  </div>
  <div class="font-medium">
    <a
      class="underline-offset-2 hover:text-accent hover:underline"
      href="https://github.com/miguelhito54/Virtour"
      target="_blank"
      rel="noopener noreferrer"
    >
      GitHub
    </a>
    <span class="mx-1">|</span>
    <a
      class="underline-offset-2 hover:text-accent hover:underline"
      href="mailto:miggeldev@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      Mail
    </a>
  </div>
  <nav
    aria-label="More on this site"
    class="flex flex-col items-center gap-y-2"
  >
    {
      menuLinks.map((link) => (
        <a
          class="underline-offset-2 hover:text-accent hover:underline"
          href={link.path}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</footer>
