---
import { type CollectionEntry, getCollection } from "astro:content";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";
import Virtour from "@/components/tour/Virtour.astro";
import MenuPanel from "@/components/tour/MenuPanel.astro";
/*const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts
  .sort(collectionDateSort)
  .slice(0, MAX_POSTS) as CollectionEntry<"post">[];
const MAX_NOTES = 2;
const allNotes = await getCollection("note");
const latestNotes = allNotes.sort(collectionDateSort).slice(0, MAX_NOTES);*/
---
<!--MenuPanel /-->
<PageLayout meta={{ title: "Home" }}>
  <main class="container">
    <!-- Contenedor del recorrido -->
    <section class="recorrido">
      <Virtour />
    </section>
  
    <!-- Lista lateral -->
    <aside class="espacio-recorrido">
      <div>
        <h2>Recorridos</h2>
          <ol class="recorridos">
            <li><a href="#" onclick="cambiarEscena('0-afueras')">Afuera</a></li>
            <li><a href="#" onclick="cambiarEscena('3-ascensor_p1')">Piso 1</a></li>
            <li><a href="#" onclick="cambiarEscena('0-ascesor3')">Piso 3</a></li>
            <li><a href="#" onclick="cambiarEscena('0-ascensor4')">Piso 4</a></li>
            <li><a href="#" onclick="cambiarEscena('0-ascensor5')">Piso 5</a></li>
            <li><a href="#" onclick="cambiarEscena('0-ascensor6')">Piso 6</a></li>
            <li><a href="#" onclick="cambiarEscena('0-ascensor7')">Piso 7</a></li>
            <li><a href="#" onclick="cambiarEscena('0-ascensor8')">Piso 8</a></li>
            <li><a href="#" onclick="cambiarEscena('0-ascensor9')">Piso 9</a></li>
            <li><a href="#" onclick="cambiarEscena('0-ascensor10')">Piso 10</a></li>
            <li><a href="#" onclick="cambiarEscena('0-ascensor11')">Piso 11</a></li>
            <li><a href="#" onclick="cambiarEscena('0-ascensor12')">Piso 12</a></li>
            <li><a href="#" onclick="cambiarEscena('0-ascensor13')">Piso 13</a></li>
          </ol>
          <script is:inline>
            window.cambiarEscena = function(sceneId) {
              const iframe = document.getElementById('virtour-iframe');
              if (iframe && iframe.contentWindow) {
              iframe.contentWindow.postMessage({ tipo: 'cambiarEscena', escena: sceneId }, '*');
              } else {
              console.error("No se encontró el iframe o su ventana.");
              }
            }
            </script>
      </div>
    </aside>
  </main>
</PageLayout>
